body {
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: #222;
    background-image: url("https://mattw.io/img/noise.png");
    background-repeat: repeat;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.green {
    color: green;
}

table {
    font-size: initial;
}

.wrap {
    word-wrap: break-word;
    word-break: break-all;
}

code {
    max-height: 180px;
}

img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.header-img {
    width: 45px !important;
    height: 45px !important;
}

h1 {
    font-weight: 100 !important;
}

.profile {
    width: 100px;
    height: 100px;
}

.section {
    margin-bottom: 15px;
}

.part-section {
    margin-bottom: 1.5%;
}

.mb-15 {
    margin-bottom: 1.5%;
}

.mt-15 {
    margin-top: 1.5%;
}

.tag {
    background-color: lightskyblue;
    padding: 2px 5px;
    border-radius: 5px;
    margin-right: 4px;
    margin-bottom: 3px;
    display: inline-block;
}

.comma {
    color: transparent;
    width: 0;
    display: inline-block;
}

.section-header {
    font-size: 1.5em;
    margin: 0 0 0.3em;
}

.unknown {
    color: mediumpurple;
}

.good {
    color: mediumseagreen;
}

.bad, .gray {
    color: lightgray;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.exclamation.triangle {
    color: orange;
}
