body {
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    color: #222;
}

.orange {
    color: orange;
}

code {
    max-height: 180px;
}

img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.profile {
    max-width: 80px;
}

.part-section {
    margin-bottom: 1.5%;
}
.mb-15 {
    margin-bottom: 1.5%;
}
.tag {
    background-color: lightskyblue;
    padding: 2px 5px;
    border-radius: 5px;
    margin-right: 4px;
    margin-bottom: 3px;
    display: inline-block;
}
.section-header {
    font-size: 1.5em;
    margin: 0 0 0.3em;
}
.unknown {
    color: mediumpurple;
}
.good {
    color: mediumseagreen;
}
.bad {
    color: lightgray;
}