---
layout: default
title: YouTube Metadata Bulk
script: youtube-metadata-bulk
---
<div class="ui container" style="margin-top:3%">
    {% include nav.html title=page.title %}

    <p>YouTube Metadata bulk grabs details about multiple videos, a playlist's videos, or a channel's public videos.</p>
    <div id="regularInput">
        <p>Submit a comma separated list of multiple videos, playlists, or channels</p>
        <div class="ui four column">
            <div class="ui fluid action input">
                <input id="value" type="text" placeholder="https://www.youtube.com/user/oceanexplorergov">
                <div id="submit" class="ui button">Submit</div>
            </div>
            <br>
            <div class="ui checkbox">
                <input id="createdPlaylists" type="checkbox">
                <label>Inspect videos in created playlists to find unlisted videos (channels only)</label>
            </div>
        </div>
    </div>
    <div id="searchInput" hidden>
        <!-- Hidden as not intended to be available yet -->
        <p>Submit inputs to inspect videos from the search function.</p>
        <div class="ui two column">
            <div class="ui fluid action input">
                <input id="searchQuery" type="text" placeholder="Search">
                <select id="searchType" class="ui dropdown">
                    <option value="">Any type</option>
                    <option value="video" selected>Videos only</option>
                    <option value="channel">Channels only</option>
                    <option value="playlist">Playlists only</option>
                </select>
                <select id="searchOrder" class="ui dropdown">
                    <option value="date">Date order</option>
                    <option value="rating">Rating order</option>
                    <option value="relevance">Relevance order</option>
                    <option value="viewCount">View count order</option>
                </select>
                <select id="searchPages" class="ui dropdown">
                    <option value="1">1 page</option>
                    <option value="2">2 pages</option>
                    <option value="3" selected>3 pages</option>
                    <option value="4">4 pages</option>
                    <option value="5">5 pages</option>
                </select>
                <div id="submitSearch" class="ui button">Submit</div>
            </div>
        </div>
    </div>
</div>
{% include format_share.html %}
<div class="ui container" style="margin-top:1.5%">
    <h1>Export</h1>
    <p>Save this result as a zip file or load from a previous export.</p>
    <p>
    <div id="export" class="ui button">
        <i class="download icon"></i> Export
    </div>
    <div id="import" class="ui button" onclick="document.getElementById('importFileChooser').click()">
        <i class="upload icon"></i> Import
        <input id="importFileChooser" type="file" hidden/>
    </div>
    </p>
    <div class="ui checkbox" style="margin-bottom: 1em">
        <input id="includeThumbs" type="checkbox">
        <label>Include thumbnails on export (this may take a long time)</label>
    </div>
    <p>Contains file(s)
    <ul>
        <li>about.txt - Metadata about this result.</li>
        <li>videos.json - Array of all raw video data.</li>
        <li>videos.csv - Videos table data.</li>
        <li>tags.csv - Tags table data.</li>
        <li>geotags.csv - Geotags table data.</li>
        <li>links.csv - Links table data.</li>
        <li>frequency.csv - Upload frequency table data (UTC+0).</li>
        <li>other.csv - Other table data.</li>
        <li>thumbs/videoId.png - Thumbs if available.</li>
    </ul>
    </p>
    <p class='mb-15'>
    <div id='dislikeMessage' class='ui yellow message'>
        <i class='exclamation triangle icon'></i>
        YouTube is <a href='https://blog.youtube/news-and-events/update-to-youtube/' target='_blank'>removing the
        dislikeCount after 2021-12-13</a>.
        Use the Export button to save dislike data before it goes away.
    </div>
    </p>
</div>
<div class="ui container" style="margin-top:1.5%">
    <h1>Videos</h1>
    <p>
        List of all videos, playlist videos, or channel public uploads.
        Customize columns to show more or less data as needed.
    </p>
    <div id="videoProgress" class="ui blue progress">
        <div class="bar">
            <div class="centered progress"></div>
        </div>
        <div class="label"></div>
    </div>
    <div class="ui compact menu" style="margin-bottom: 15px">
        <div class="ui simple dropdown item">
            Select Columns
            <i class="dropdown icon"></i>
            <div id="column-options" class="menu">
            </div>
        </div>
    </div>
</div>
<div class="ui container" style="margin: 0 1.5% 1.5%; width:auto;">
    <table id="videosTable" class="display" style="width:100%"></table>
</div>
<div class="ui container" style="margin-top:1.5%">
    <h1>Tags</h1>
    <p>
        Aggregate total tag counts on found videos.
    </p>
</div>
<div class="ui container" style="margin-top:1.5%">
    <table id="tagsTable" class="display" style="width:100%"></table>
</div>
<div class="ui container" style="margin-top:1.5%">
    <h1>Geotags</h1>
    <p>
        Aggregate total geotag counts on found videos.
    </p>
</div>
<div class="ui container" style="margin-top:1.5%">
    <table id="geotagsTable" class="display" style="width:100%"></table>
</div>
<div class="ui container" style="margin-top:1.5%">
    <h1>Links</h1>
    <p>
        Aggregate total link counts in found video descriptions.
        Be careful visiting what may show up here, by default results will not be hyperlinked for safety.
    </p>
    <div class="ui checkbox">
        <input id="makeHyperlinks" type="checkbox" onchange="bulk.toggleLinksColumn(0);bulk.toggleLinksColumn(1)">
        <label>Make them hyperlinks anyways</label>
    </div>
</div>
<div class="ui container" style="margin-top:1.5%">
    <table id="linksTable" class="display" style="width:100%"></table>
</div>
<div class="ui container" style="margin-top:1.5%">
    <h1>Upload Frequency</h1>
    <p>
        Aggregate uploads frequency by hour and day.
        Transformable to any timezone and filterable by year when activity occurred.
    </p>
</div>
<div class="ui container" style="margin-top:1.5%">
    <p>
        <select id="offset" class="ui dropdown">
            <option value="-1200">UTC −12:00</option>
            <option value="-1100">UTC −11:00</option>
            <option value="-1000">UTC −10:00</option>
            <option value="-0930">UTC −09:30</option>
            <option value="-0900">UTC −09:00</option>
            <option value="-0800">UTC −08:00</option>
            <option value="-0700">UTC −07:00</option>
            <option value="-0600">UTC −06:00</option>
            <option value="-0500">UTC −05:00</option>
            <option value="-0400">UTC −04:00</option>
            <option value="-0330">UTC −03:30</option>
            <option value="-0300">UTC −03:00</option>
            <option value="-0200">UTC −02:00</option>
            <option value="-0100">UTC −01:00</option>
            <option value="+0000" selected>UTC ±00:00</option>
            <option value="+0100">UTC +01:00</option>
            <option value="+0200">UTC +02:00</option>
            <option value="+0300">UTC +03:00</option>
            <option value="+0330">UTC +03:30</option>
            <option value="+0400">UTC +04:00</option>
            <option value="+0430">UTC +04:30</option>
            <option value="+0500">UTC +05:00</option>
            <option value="+0530">UTC +05:30</option>
            <option value="+0545">UTC +05:45</option>
            <option value="+0600">UTC +06:00</option>
            <option value="+0630">UTC +06:30</option>
            <option value="+0700">UTC +07:00</option>
            <option value="+0800">UTC +08:00</option>
            <option value="+0845">UTC +08:45</option>
            <option value="+0900">UTC +09:00</option>
            <option value="+0930">UTC +09:30</option>
            <option value="+1000">UTC +10:00</option>
            <option value="+1030">UTC +10:30</option>
            <option value="+1100">UTC +11:00</option>
            <option value="+1200">UTC +12:00</option>
            <option value="+1245">UTC +12:45</option>
            <option value="+1300">UTC +13:00</option>
            <option value="+1400">UTC +14:00</option>
        </select>
        <select id="year" class="ui dropdown">
            <option value="" selected>All years</option>
        </select>
    </p>
    <div id="uploadFrequency"></div>
</div>
<div class="ui container" style="margin-top:1.5%">
    <h1>Other</h1>
    <p>
        Other potentially useful aggregate data on found videos.
    </p>
</div>
<div class="ui container" style="margin-top:1.5%">
    <table id="otherTable" class="display" style="width:100%"></table>
</div>
