<div class="container mb-15" style="margin-top: 1.25%">
    <span>Accepted formats</span>
    <ul id="formats" class="collapse show" style="padding-top:7px">
        <li><span class="optional">https://www.</span>youtube.com/watch?v=<span class="orange">video_id</span></li>
        <li><span class="optional">https://www.</span>youtube.com/embed/<span class="orange">video_id</span></li>
        <li><span class="optional">https://www.</span>youtube.com/v/<span class="orange">video_id</span></li>
        <li><span class="optional">https://</span>youtube.com/shorts/<span class="orange">video_id</span></li>
        <li><span class="optional">https://</span>youtu.be/<span class="orange">video_id</span></li>
        <li><span class="optional">https://www.</span>youtube.com/playlist?list=<span class="orange">playlist_id</span></li>
        <li><span class="optional">https://www.</span>youtube.com/channel/<span class="orange">channel_id</span></li>
        <li><span class="optional">https://www.</span>youtube.com/user/<span class="orange">username</span></li>
        <li><span class="optional">https://www.</span>youtube.com/c/<span class="orange">custom_url</span>
            (may not work, <a href="https://github.com/mattwright324/youtube-metadata/issues/1" target="_blank">see here</a>)
        </li>
        <li><span class="optional">https://www.</span>youtube.com/<span class="orange">custom_url</span>
            (may not work, <a href="https://github.com/mattwright324/youtube-metadata/issues/1" target="_blank">see here</a>)
        </li>
        <li>
            Also accepts direct ids:
            <span class="orange">video_id</span>,
            <span class="orange">playlist_id</span>,
            <span class="orange">channel_id</span>
        </li>
    </ul>
</div>
