<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description"
          content="Quickly gather all the metadata about a video, playlist, or channel from the YouTube API. Reverse image search thumbnails, geolocate in google maps, and translate ISO country and language codes.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="./img/icon.png">
    <title>{{page.title}}</title>

    <link rel="preconnect" href="//cdn.jsdelivr.net" crossorigin>

    <!-- Styles -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.3.1/build/styles/default.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="./css/youtube-metadata.css?v={{ site.time | date_to_xmlschema }}"/>

    <!-- Scripts -->
    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//randojs.com/2.0.0.js"></script>
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.3.1/build/highlight.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js" type="text/javascript"></script>
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/file-saver@2.0.5/dist/FileSaver.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/jszip@3.7.1/dist/jszip.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/jszip-utils@0.1.0/dist/jszip-utils.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/xregexp@5.1.0/xregexp-all.js"></script>
    <script src="//cdn.jsdelivr.net/npm/apexcharts@3.32.0/dist/apexcharts.min.js"></script>

    <!-- Project Scripts -->
    <script src="./js/iso-639-translator.js?v={{ site.time | date_to_xmlschema }}" type="text/javascript"></script>
    <script src="./js/iso-3166-translator.js?v={{ site.time | date_to_xmlschema }}" type="text/javascript"></script>
    <script src="./js/bcp-47-translator.js?v={{ site.time | date_to_xmlschema }}" type="text/javascript"></script>
    <script src="./js/youtube-api-v3.js?v={{ site.time | date_to_xmlschema }}" type="text/javascript"></script>
    <script src="./js/youtube-metadata-examples.js?v={{ site.time | date_to_xmlschema }}"
            type="text/javascript"></script>
    <script src="./js/{{ page.script }}.js?v={{ site.time | date_to_xmlschema }}" type="text/javascript"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-100434147-9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-100434147-9');
    </script>
</head>
<body>
{{content}}
<div class="ui container" style="padding-top:3%;padding-bottom:3%;color:darkgray;text-align:center">
    mattwright324 | 2022 | <a href="/">home</a> | <a href="https://github.com/mattwright324">github</a> |
    <a href="https://github.com/mattwright324/youtube-metadata">youtube-metadata</a>
</div>
</body>
</html>
